<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>Institutul General al Oamenilor</title>
  {% if is_web %}
  <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='all.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  {% else %}
  <link rel="stylesheet" href="{{ static_custom_path }}reset.css">
  <link rel="stylesheet" href="{{ fontawesome_path }}css{{ sep }}all.min.css">
  <link rel="stylesheet" href="{{ static_custom_path }}style.css">
  {% endif %}
</head>

<body>
  <!-- Antetul paginii -->
  <nav>
    <ul>
        <li class="btn-acasa" i>
            <a href="/">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li>
            <a href="#">Primaria</a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#"></a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

{% block continut %}
{% endblock %}

<!-- Subsolul paginii -->
<div>
  <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
</div>
</body>

</html>